/* h1{
    color:black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
} */
/* Basic styles */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

:root{
    --bg-color: #D8D8D8;
}

body {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #000;
  background-color: var(--bg-color);
  font-family: 'Maitree', serif;
}

#one{
    padding-top: 10%;
}

#viewer {
    width:800px;
    height:400px;
    margin: 0 auto;
    background-color:#ABABAB;
  }

#big_logo img{
    width: 100%;
    max-width: 600px;
    height: auto;

}

#big_logo{
    text-align: center;
}
