{% extends "layout.html" %}
{% block content %}

<div class="container mt-4" id="big_logo">
    <div class="row d-flex justify-content-center ">
        <div class="col">
            <img src="/static/img/Aviator-Logo.png" alt="">
            <!-- <h1></h1> -->
            <h1 class="home-title">
                <span>Training</span>
                <span>Manuals</span>
            </h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <h1>Training Manuals</h1>
        </div>
    </div>
</div> -->


{% endblock content %}
